/*//// Header ////*/
.pos-hdr-btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 10px 20px;
    line-height: 1.42857;
    font-weight: bold;
    vertical-align: top;
}

a.pos-hdr-btn:hover {
    color: #fff;
    text-decoration: none;
}

.pos-hdr-btn-success {
    background: #45769C;
    color: #fff;
    border: 2px solid #45769C;
}

a.pos-hdr-btn-success:hover {
    background: #2E638B;
    border: 2px solid #2E638B;
}

.pos-hdr-btn-back {
    background: #97ABBD;
    color: #fff;
    border: 2px solid #97ABBD;
}

a.pos-hdr-btn-back:hover {
    background: #6D88A0;
    border: 2px solid #6D88A0;
}

@media (max-width:768px) {
    .pos-hdr {
        text-align: center;
    }
    .pos-txt {
        margin-top: 25px;
    }
    .pos-img {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 576px) {
    h2.font-weight-normal {
        font-size: 3em !important;
    }
}

/*//// Comparison Table ////*/
@media screen and (max-width: 450px) {
    .comparison-title {
        font-size: 1.55em !important;
    }
}

@media screen and (max-width: 576px) {
    .comparison-title {
        font-size: 1.75em !important;
    }
}

.comparison-title {
  padding-top: 0em;
  display: block;
  font-size: 2.25em;
  line-height: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #45769C;
  margin-bottom: 30px;
}
.comparison-title > span {
  font-size: 16px;
  line-height: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  color: gray;
}
.comparison-item {
  display: block;
  color: #333333;
  float: left;
  width: 100%;
  text-align: center;
  background: #fff;
  padding: 20px 0px 20px;
  margin-bottom: 1.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.comparison-item.comparison-feature {
  border-top: 10px solid #45769C;
  z-index: 9;
}
.comparison-item p:last-child {
  margin-bottom: 0;
}
.comparison-item:hover, .comparison-item:focus, .comparison-item:active {
  text-decoration: none;
  outline: none;
}
.comparison-item .comparison-item-lead {
  font-size: 12px;
  font-family: "Montserrat", Arial, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.comparison-item .comparison-item-text {
  font-size: 16px;
  color: #a6a6a6;
}
.comparison-item:hover, .comparison-item.active {
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 768px) {
  .comparison-item:hover, .comparison-item.active {
    margin-top: 0px;
  }
}

/*//// Main ////*/
section {
    padding: 100px 0;
}

.content .container {
    background-color: #fff;
}

@media screen and (max-width:992px) {
    .photo-col {
        display: none;
    }
}

p.description {
    margin-bottom: 30px !important;
    margin: 0 0 10px;
    font-size: 16px;
}

.description-title {
    text-transform: none;
    line-height: 26px;
    letter-spacing: normal;
}

h2.description-title {
    font-weight: bold;
}

h3.description-title {
    margin-top: 0px;
    margin-bottom: 10px !important;
}

/*Box behind photo
.half-inner::before {
  position: absolute;
    top: -20px;
    right: -20px;
    width: 80%;
    height: 540px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    content: '';
    z-index: -1;
    background: #fff;
}
*/



/*Nice looking text link
.hdr-or {
    padding-left: 10px;
    padding-right: 10px;
    color: #b3b3b3;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    font-weight: bold;
}

.pos-hdr-lnk-success {
    color: #45769C;
    font-weight: bold;
}

a.pos-hdr-lnk-success {
    color: #45769C;
}

a .hdr-icon-right {
    top: 2px;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 1.1em;
}
*/